.config-menu {
	background-color: var(--transp-back);
	text-align: center;
}
.config-menu-button {
	margin: 10px 1vw 0px 1vw;
	padding: 10px 0;
	min-width: 150px;
	width: 8vw;
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
	background-color: var(--button-back);
	font-size: large;
	color: white;
	border: none;
	cursor: pointer;
}
.config-menu-button:disabled {
	cursor: default;
	background-color: var(--button-set);
	color: var(--button-back);
}
.reset-config-button,
.checkout-config-button {
	position: absolute;
	top: 4.6px;
	padding: 10px;
	width: 8vw;
	background-color: var(--button-back);
	font-size: large;
	color: white;
	border: none;
	cursor: pointer;
}

.reset-config-button {
	border-top-right-radius: 13px;
	border-bottom-right-radius: 13px;
	left: 0px;
}
.checkout-config-button {
	border-top-left-radius: 13px;
	border-bottom-left-radius: 13px;
	right: 0px;
}

.sub-menu {
	/* width: 1500px;
	border-top-right-radius: 13px; */
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 0) 0%,
		var(--button-set) 100%
	);
}
.config-item-container {
	padding-top: 80px;
}
.config-item-label {
	padding: 20px;
	margin: 0px 2px;
	color: var(--text-color);
	background-color: var(--button-back);
	border-radius: 13px;
}
.config-item-label-active {
	padding: 20px;
	margin: 0px 2px;
	background-color: var(--button-set);
	color: var(--button-back);
	border-radius: 13px;
}
.checkbox {
	display: none; /* Hide the actual checkbox */
}
.color-dip {
	margin-right: 10px;
	padding: 10px 20px;
	border: solid darkgrey 3px;
	border-radius: 30px;
}
