a {
	text-decoration: none;
}
.navbar {
	height: 50px;
	background-color: var(--transp-back);
	position: absolute;
	z-index: 999;
	width: 100vw;
}

.nav-item {
	padding: 7px 4vw 0 4vw;

	margin-bottom: 10px;
	background-color: var(--button-back);
	font-size: large;
	color: var(--text-color);
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
}
