@import 'layout';
@import 'navigation';
@import 'font';
@import 'config-menu';
@import 'checkout';
:root {
	--day: #ffffff;
	--night: #1d1d1d;

	--grey: #545454;
	--white: #ffffff;
	--black: #000000;
	--background-color: var(--grey);
	--text-color: var(--white);

	--transp-back: rgba(62, 155, 202, 0.539);
	--button-back: rgb(17, 50, 66);
	--button-hover: rgb(71, 158, 202);
	--button-set: rgb(151, 220, 255);
}
